<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>CoinsApp</title>
    {% endblock title %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                {% block sidebar %}
                <ul class="sidebar-nav">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <br>
                    {% if user.is_authenticated %}
                    <li>User: {{ user.get_username }}</li>
                    <li><a href="{% url 'get_wallet' %}">My Wallet</a></li>
                    <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
                    <li><a href="{% url 'register'%}">Register</a></li>
                    {% endif %}

                </ul>
                {% endblock %}
            </div>
            <div class="col-sm-10 ">
                {% block content %}{% endblock %}

                <!-- Paginacion -->
                {% block pagination %}
                {% if coins.has_other_pages %}
                <nav aria-label="Score pagination" class="mb-4">
                    <ul class="pagination">
                        {% if coins.has_previous%}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ coins.previous_page_number }}"> Página anterior </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <span class="page-link"> Página anterior </span>
                        </li>
                        {% endif %}

                        {% if coins.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ coins.next_page_number }}"> Página siguiente </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <span class="page-link"> Página siguiente </span>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
                {% endblock %}

            </div>
        </div>

    </div>
</body>

</html>